<html>
<head>
	<script src="angular.js"></script>
	<style>body{font-size:x-large;font-family:arial,verdana;}</style>
<script>
function MyController( $scope ) {
	$scope.people = [
		{ name: 'Jack', telephones:['555-1212'] },
		{ name: 'Johny', telephones:['555-2323','555-3232'] }
	];
}
</script>
</head>

<body ng-app ng-controller="MyController">

<div ng-repeat="person in people">
{{person.name}}
<table style="margin-left:50px;">
<tr ng-repeat="phone in person.telephones">
	<td>{{phone}}</td>
</tr>
</table>
</div

</body>
</html>